<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   

 <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="log"
            id="org.globaltester.logging.contenttypes.GtLogfile"
            name="GlobalTester Logfile"
            priority="normal">
         <describer
               class="org.globaltester.logging.content.GtLogfileContentDescriber">
         </describer>
      </content-type>
   </extension>
   <extension
       point="org.eclipse.ui.preferencePages">
    <page
		name="Logging"
		category="org.globaltester.preferences.GlobalTesterPreferencePage"
		class="org.globaltester.logging.preferences.GlobalTesterPreferencePageLogging"
    	id="org.globaltester.logging.preferences.GlobalTesterPreferencePageLogging">
    </page>
 </extension>
 <extension
       point="org.eclipse.core.runtime.preferences">
    <initializer
          class="org.globaltester.logging.preferences.PreferenceInitializer">
    </initializer>
 </extension>
</plugin>
