<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
       point="org.eclipse.ui.preferencePages">
    <page
		name="Logging GT3"
		category="org.globaltester.preferences.GlobalTesterPreferencePage"
		class="org.globaltester.logging.ui.preferences.GlobalTesterPreferencePageLogging"
    	id="org.globaltester.logging.preferences.GlobalTesterPreferencePageLogging">
    </page>
 </extension>
</plugin>
